@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    background-color: hsl(0, 0%, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator{
    width: 450px;
    margin: 50px auto;
    padding: 20px;
    background-color: hsl(0, 0%, 15%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    height: 80px;
    background-color: hsl(0, 0%, 25%);
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: right;
    padding: 20px;
    border: none;
    box-sizing: border-box;
    color: white;
    font-size: 5rem;
    display: flex;
    align-items: right;
    justify-content: flex-end;
    overflow-x: auto;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 20px;
    margin: 4px;
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
    color: white;
    font-size: 3rem;
    font-weight: bold;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsl(30, 100%, 50%);
}

.operator-btn:hover{
    background-color: hsl(30, 100%, 60%);
}

.operator-btn:active{
    background-color: hsl(30, 100%, 70%);
}